#product-fieldset-wrapper-child legend {
  display: none;
}

#product-fieldset-wrapper-child {
  padding: 8px;
}

#product-fieldset-wrapper-child div {
  float: left;
  width: 40%;
  padding-left: 10px;
}
